.loading-loder-bage-home-card {
    display: inline-block;
    position: relative;
    > .loader-content {
        padding: 0 16px;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 48px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        padding: 24px 0;
        border-radius: 16px;
        background-color: #171821;
    }
}
.loading-loader-space-avatar {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
