@import '@/global.scss';
html {
    @include scrollbar();
}
.app {
    width: 100%;
    z-index: 9988;
    // position: absolute;
    font-family: Poppins, Helvetica;
    padding-top: 80px;
    min-width: 1100px;

    > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        // min-height: 100vh;
        min-height: calc(100vh - 80px);
        &.is-mobile {
            .sub-home-layout {
                padding: 0 16rem;
            }
        }
        &.is-pad {
            .sub-home-layout {
                padding: 0 24px;
            }
        }
        // overflow: hidden;

        &::-webkit-scrollbar {
            width: 0px;
            height: 0;
        }

        &::-webkit-scrollbar-thumb {
            width: 0px;
            height: 0;
        }

        > .body {
            max-width: 100%;
            width: 100%;
            // width: 1200px;
            @include scrollbar();
        }
    }
}

.feedback-trigger {
    position: fixed;
    right: 40px;
    bottom: 50px;
    cursor: pointer;
    box-shadow: 0px 11.5px 23px rgba(0, 0, 0, 0.8);
    z-index: 9;
}

.react-joyride__tooltip {
    h4 {
        font-family: Poppins;
        font-size: 16px;
    }

    h5 {
        font-family: Poppins;
        font-size: 16px;
        text-align: left;
    }

    button {
        font-family: Poppins;
    }
}
